<div class="product-grid">
  <div class="product-card" *ngFor="let product of products">
    <ion-card (click)="viewProductDetails(product.id)"> <!-- Cambio aquí -->
      <div class="image-container">
        <img [src]="product.image" alt="{{ product.name }}" class="product-image">
      </div>
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">Precio: ${{ product.price }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</div>
